<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_mysi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_mysi_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Automatism"
        tools:targetApi="31" >

        <activity
            android:name=".activities.SchedulesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DevicesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activities.UserSettingesActivity"
            android:exported="false"
            />
        <activity
            android:name=".activities.AddScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"/>
        <activity
            android:name=".activities.ModifyScheduleActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"/>

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.alarm.AlarmReceiver" />
        <receiver
            android:name=".utils.alarm.BootCompletedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>

<!--
    TODO("Look at the [LOCKED_BOOT_COMPLETED] vs [BOOT_COMPLETED] When it comes to SDK Version permissions")
-->

<!--
    TODO("Look at the [SCHEDULE_EXACT_ALARM] vs [USE_EXACT_ALARM] When it comes to SDK Version permissions")
-->